attrs==17.4.0
backports.weakref==1.0rc1
bleach==1.5.0
click==6.7
CommonMark==0.5.4
dlpix-wire==0.1.0
docutils==0.14
freeze==1.0.10
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.2
Markdown==2.6.10
numpy==1.13.3
pluggy==0.6.0
protobuf==3.5.1
py==1.5.2
pyCLI==2.0.3
pycurl==7.43.0
pygobject==3.20.0
pytest==3.3.1
python-apt==1.1.0b1
PyYAML==3.12
recommonmark==0.4.0
scipy==1.0.0
six==1.11.0
tensorflow==1.2.1
Werkzeug==0.14.1
